/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/**            normalaize  */

html,
body {
	height: 100%;
	margin: 0;
	background: rgb(55, 54, 54);
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
	margin: auto;
	height: 100%;
	width: 100%;
	display: flex;
}
.calculator-body {
	margin: auto;
	height: 700px;
	width: 400px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border-radius: 30px;
}
@media (max-width: 480px) {
	.calculator-body {
		width: 420px;
		height: 100%;
	}
}

@media (max-width: 391px) {
	.calculator-body {
		width: 380px;
		height: 100%;
	}
}

@media (max-width: 360px) {
	.calculator-body {
		width: 350px;
		height: 700px;
	}
}

@media (max-width: 320px) {
	.calculator-body {
		width: 310px;
		height: 700px;
	}
}
.display {
	height: 14.2857%;
	color: #f2f2f2;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 5px;
	font-size: 3rem;
	margin: 0px 0px 20px 0px;
}

@media (max-width: 480px) {
	.display {
		margin: 0;
	}
}
.buttons-container {
	padding: 20px 0px 0px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 30px;
	justify-items: center;
}
.button {
	height: 85px;
	width: 85px;
	color: #f2f2f2;
	font-size: 1.8rem;

	/* margin: 20px 0px 0px 4px; */

	border-radius: 50px;
}
.button-grey {
	background-color: #595e67;
}
.button-orange {
	background-color: #f96d00;
}
.button-dark {
	background-color: #222831;
}
.button-null {
	width: 95%;
	grid-column: 1/3;
}
.button-x {
	font-size: 2rem;
}
.button-minus {
	font-size: 4rem;
	/* font-weight: bold; */
}
.button-plus {
	font-size: 2rem;
}
