/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/**            normalaize  */

html,
body {
	height: 100%;
	margin: 0;
	background: rgb(55, 54, 54);
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
	margin: auto;
	height: 100%;
	width: 100%;
	display: flex;
}
.calculator-body {
	margin: auto;
	height: 1000px;
	width: 700px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border-radius: 30px;
}

.display {
	height: 14.2857%;
	color: #f2f2f2;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 0px 20px 0px 0px;
	font-size: 3rem;
	margin: 0px 0px 20px 0px;
}

.buttons-container {
	height: 100%;
	width: 100%;
	padding: 20px 5px 0px 5px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
}
.button {
	height: 140px;
	width: 140px;
	color: #f2f2f2;
	font-size: 2.5rem;
	border-radius: 50%;
	transition: all;
	margin: 0;
}

.button:hover {
	opacity: 0.5;
	box-shadow: 0px 0px 4px 2px;
}
.button:active {
	font-size: 1.7rem;
	box-shadow: 0px 0px -17px -11px;
	opacity: 0.7;
}

.button-minus {
	font-size: 4rem;
}
.button-plus {
	font-size: 3rem;
}
.button-grey {
	background-color: #595e67;
}
.button-orange {
	background-color: #f96d00;
}
.button-dark {
	background-color: #222831;
}
.button-null {
	width: 95%;
	grid-column: 1/3;
	border-radius: 70px;
}

/* breakpoints */

@media (max-width: 780px) {
	.calculator-body {
		width: 720px;
		height: 100%;
		border-radius: 30px;
	}
}
@media (max-height: 810px) {
	.calculator-body {
		width: 600px;
		height: 700px;
		border-radius: 30px;
	}
	.button {
		height: 100px;
		width: 100px;
	}
	.button-null {
		width: 95%;
		grid-column: 1/3;
	}
}

@media (max-width: 450px) {
	.calculator-body {
		width: 490px;
		height: 100%;
		border-radius: 0;
	}
	.display {
		margin: 0;
	}
	.button {
		height: 95px;
		width: 95px;
	}
	.button-null {
		width: 95%;
		grid-column: 1/3;
	}
}
@media (max-width: 395px) {
	.calculator-body {
		width: 380px;
		height: 100%;
	}
	.button {
		height: 85px;
		width: 85px;
	}
	.button-null {
		width: 95%;
		grid-column: 1/3;
	}
}
@media (max-width: 360px) {
	.calculator-body {
		width: 370px;
		height: 100%;
		border-radius: 0;
	}
	.button {
		height: 80px;
		width: 80px;
	}
	.button-null {
		width: 95%;
		grid-column: 1/3;
	}
}
@media (max-width: 320px) {
	.calculator-body {
		width: 320px;
		height: 100%;
	}
	.buttons-container {
		column-gap: 5px;
	}
	.button {
		height: 65px;
		width: 65px;
	}
	.button-null {
		width: 95%;
		grid-column: 1/3;
	}
}
