/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/**            normalaize  */

html,
body {
	height: 100%;
	margin: 0;
	background: rgb(55, 54, 54);
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
	margin: auto;
	height: 100%;
	width: 100%;
	display: flex;

	border: solid 1px red;
}
.calculator-body {
	margin: auto;
	height: 73.45%;
	width: 20.83%;
	display: flex;
	flex-direction: column;
	background-color: black;
	border-radius: 30px;
}
.display {
	height: 14.2857%;
	color: #F2F2F2;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 5px;
	font-size: 2rem;

	border: solid 2px white;
}
.buttons-container {
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}
.button {
	height: 90px;
	width: 90px;
	color: #F2F2F2;
	font-size: 1.5rem;
	margin: 20px 0px 0px 4px;

	border-radius: 50px;
}
.button-grey {
	background-color: #595e67;
}
.button-orange {
	background-color: #F96D00;
}
.button-dark {
	background-color: #222831;
}
